html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: $brand-black;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  margin: 2rem auto;
  flex: 1;
}

a {
  color: $brand-orange;
}
