.top-nav {
  background: $brand-orange;
  overflow: auto;
  color: $brand-white;

  font-family: Play, sans-serif;
  border-bottom: $basic-border;
}

.top-nav__list {
  height: 70px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  display: flex;

  li {
    list-style: none;
    display: flex;

    align-items: center;
  }
}

.top-nav__brand {
  flex-grow: 1;

  font-weight: 700;
  font-size: 3rem;
  margin: 0;

  a {
    position: relative;
    bottom: 0.5rem;

    color: inherit;
    text-decoration: none;
  }
}

.top-nav__link {
  color: inherit;

  padding: 0 20px;

  font-size: 1.625rem;
  font-weight: 300;
  text-decoration: none;

  text-shadow: $brand-text-shadow;

  &:last-of-type {
    padding-right: 0;
  }
}

.top-nav__mobile-bar {
  height: 70px;
  display: none;
  position: relative;
}

.top-nav__toggle {
  background: none;
  border: 0;
  color: inherit;
  font-size: 1.5rem;

  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.top-nav__mobile-brand {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    position: relative;
    bottom: 0.25rem;

    color: inherit;
    text-decoration: none;
  }
}
