@import "yoga";

$brand-orange: #e1563f;
$brand-gray: #3c3635;
$brand-white: #efefef;
$brand-black: #444;

$brand-text-shadow: 0 1px 2px #331915, 0 1px 0 #331915;
$basic-border: 1px solid lighten($brand-gray, 20%);

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
@include yoga-prototype();

@import "base";
@import "header";
@import "footer";

.post-list {
  padding: 0;
  counter-reset: li;

  li {
    list-style: none;

    display: flex;
    width: 100%;

    margin-bottom: 1rem;
  }

  li:before {
    content: counter(li) ".";
    counter-increment: li;

    margin-right: 1rem;

    font-size: 1.6rem;
  }
}

.post-list__title {
  margin: 0;
  font-size: 1.6rem;

  a {
    color: inherit;
  }
}

.post {
  width: 100%;
}
