@media (max-width: 1040px) {
  .yg-container, .top-nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .top-nav__mobile-bar {
    display: flex;
  }

  .top-nav__list {
    display: none;
  }
}
